* {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
}

.t-layout {
  width: 100%;
}

.t-layout__sider {
  width: auto !important;
}

.t-layout__content {
  padding: 20px;
  overflow: auto;
}

.content {
  // min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.t-textarea__inner {
  height: 200px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.buttons {
  margin-bottom: 10px;

  .t-space {
    flex-wrap: wrap;
  }
}

.t-dialog__position {
  padding: 0 !important;
  align-items: center !important;
}

.ico {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-size: contain;
}

.filename {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: var(--td-scrollbar-color);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--td-scrollbar-hover-color);
}

.t-layout__header {
  height: fit-content !important;
}

.t-head-menu__inner {
  height: fit-content !important;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.t-head-menu .t-menu__logo {
  justify-content: center;
  width: 100%;
}

.t-head-menu .t-menu__logo img {
  margin-left: 0;
}

.t-head-menu .t-menu {
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 500px) {
  .t-space-horizontal {
    flex-direction: column;
  }
}

.t-card__body {
  overflow: auto;
}

.t-list-item-main .t-space {
  max-width: 100%;
}
