* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
}

.t-layout {
  width: 100%;
}

.t-layout__content {
  width: calc(100% - 272px);
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.t-textarea__inner {
  height: 200px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.buttons {
  margin-bottom: 10px;
}

.t-dialog__position {
  padding-top: 0 !important;
  align-items: center !important;
}

.ico {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.filename {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: var(--td-scrollbar-color);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--td-scrollbar-hover-color);
}
